
body, td { font-family: Arial;  font-size: 80%; }

LI { margin-top: .4em; }

.row0 {
  background-color: #eef;
}
                                                                                
.row1 {
  background-color: #dde;
}
